body {
    margin: 0;
}

.master-container {
  height: 80vh;
}

.page {
    height: 100%;
    padding: 30px;
    border-radius: 0;
    background-color: beige;
}

.navbar {
    display: flex;
    width: 100vw;
    height: auto;
    padding: 5px;
    background-color: seagreen;
}

.navbar-links {
    display: flex;
}

.navbar-link {
    text-decoration: none;
    color: black;
}

.navbar-links li {
    margin: 15px;
    list-style-type: none;
}

.page-head {
    display: flex;
    width: 100%;
}

.page-head h1 {
    align-self: left;
}

.page-head button {
    align-self: right;
    height: fit-content;
}

.page-table-head-row {
    background-color: blueviolet;
}

.page-table-body-row {
    background-color: rgb(227, 197, 230);
}

.page table {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
}

.page th, td {
    padding: 5px;
    text-align: left;
    width: 100%;
}

.page td:hover {
    background-color: rgb(211, 209, 209);
}

.creator-modal-box {
    position: absolute;
    background-color: white;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    border-radius: 14px;
    box-shadow: 24;
}

.creator-modal-input {
  margin-top: 15px;
  margin-bottom: 15px;
}
