body {
    margin: 0;
}

.navbar {
    display: flex;
    width: 100vw;
    height: auto;
    padding: 5px;
    background-color: seagreen;
}

.navbar-links {
    display: flex;
}

.navbar-links li {
    margin: 15px;
}
